.app-shell {
  min-height: 100vh;
  padding-top: 73px;
  display: flex;
  flex-direction: column;
}

.app-shell__main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  flex: 1;
}

@media (max-width: 760px) {
  .app-shell {
    padding-top: 65px;
  }
}
